@use '../../../common/styles/globals/variables.scss' as *;

.root {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--c-black);
  color: var(--c-white);
  padding: 1rem;

  // 394px
  @media screen and (min-width: 24.625rem) {
    padding: 1rem 3rem;
  }
}

.nav {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoLink {
  width: 8.125rem;
  height: 3.25rem;
}

.favoritesLink {
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--c-white);
}

.favoritesLinkIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--c-main);
}
