.root {
  padding-block: 3rem;
}

.innerWrapper {
  width: 100%;
  max-width: 60rem;
  margin-inline: auto;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.list {
  display: flex;
  width: 100%;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1.5rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar-track {
    background-color: var(--c-grey-500);
  }

  &::-webkit-scrollbar {
    height: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--c-main);
    cursor: pointer;
  }
}

.comicItem {
  width: 11.25rem;
  scroll-snap-align: start;
}

.comicTitle {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.17;
}

.comicPublicationAge {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}
