.favoriteButton {
  flex-shrink: 0;
  width: 0.875rem;
  height: 0.875rem;
  display: grid;
  place-content: center;
  color: var(--c-white);
}

.favoriteButtonActive {
  color: var(--c-main);
}

.favoriteButtonActiveHover {
  color: var(--c-white);
}

.favoriteButtonIcon {
  width: 0.875rem;
  height: 0.875rem;
}
