.root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9.75rem, 1fr)); // 156px
  gap: 1rem;
  justify-content: center;
  margin-top: 2.25rem;

  // >= 480px
  @media screen and (min-width: 30rem) {
    grid-template-columns: repeat(auto-fill, minmax(10.75rem, 1fr)); // 172px
  }

  // >= 768px
  @media screen and (min-width: 48rem) {
    grid-template-columns: repeat(auto-fill, minmax(11.75rem, 1fr)); // 188px
  }
}
