.favoriteButton {
  flex-shrink: 0;
  width: 0.875rem;
  height: 0.875rem;
  display: grid;
  place-content: center;
  color: var(--c-white);

  &.is-active {
    color: var(--c-main);
  }

  .icon {
    width: 0.875rem;
    height: 0.875rem;
  }
}
