@use '../../../common/styles/globals/variables.scss' as *;

.root {
  padding: 1.5rem 1rem;

  // >= 768px
  @media screen and (min-width: 48rem) {
    padding: 3rem;
  }
}

.innerContainer {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
}
